@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;

}

/* HEADER CABEÇALHO*/

header {
    background-color: #918986;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10em;
    top: 0;
    width: 80vw;
    font-family: 'Open Sans', sans-serif;

}

.logo4food {
    width: 120px;
    margin-right: 10px;
}

li {
    
    padding: 20px;
    font-size: 18px;
}

li:hover {
    background-color: #918986;
    ;
}

a:hover {
    color: #613a24;
}

.nav li {
    display: inline;
    padding: 0px 20px;
    list-style: none;
}

/* MAIN IMAGENS BANNER */

#container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}


#img1 {
    width: 35em;
    height: 24em;
    margin: 4em;
    background-position: center;
    background-image: url(img/sejabemvindo.jpeg);
}

#img1 h1 {
    color: #654b25;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 1em;
    font-size: 28px;
}

#img1 p {
    color: #654b25;
    text-align: center;
    font-size: 24px;
}

#btn {
    text-align: center;
    margin-top: 2em;
}

.efeito {
    width: 10em;
    height: 2em;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    background-color: #484848;
}

.efeito:hover {
    color: #ffffff;
    background-color: #613a24;
}



#img2 {
    width: 35em;
    height: 24em;
    margin: 4em;
    background-position: center;
    background-image: url(img/promocao.jpeg);
}


#img2 h1 {
    color: #654b25;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 1em;
    font-size: 28px;
}




/* FOOTER CONTATO */

footer {
    background-color: #918986;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 8vh);
}


#nossas-redes {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    align-items: end;
    justify-content: center;
    grid-column: 8 / span 2;
    grid-row: 2;
}

#redes-sociais {
    display: grid;
    grid-column: 6 / span 6;
    grid-row: 3 / span 2;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-auto-flow: column;
}

#img-rede-social {
    height: 60px;

}


#logo-footer {
    grid-column: span 5;
    grid-row: 1 / span 6;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 20em;

}

.alunos {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: rgb(100, 100, 100);
    font-family: 'Open Sans', sans-serif;
}



/* CATÁLOGO */

main h1{
    text-align: center;
    padding: 50px;
    font-size: 2.5em;
    color:#613a24;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}


.catalogo-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.img-catalogo {
    width: 300px;
    height: 400px;
    object-fit: contain;
    transition: transform .75s;
}


.card {
    padding: 35px;
    
}

.text-produto {
    color: #613a24;
    margin-top: 10px;
}



.botao img {
    width: 20px;

}

.text-button {
    align-items: center;
    justify-content: center;
    color: #613a24;

}


.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 7px 25px 7px 25px;
    margin-left: 80px;
    border: #484848;
    background-color: rgb(255, 120, 23);
    font-family: 'Open Sans', sans-serif;
    color: white;
}


.botao p {
    margin-left: 5px;
}


.img-catalogo:hover {
    transform: scale(1.10);
}

.botao:hover {
    background-color: #484848;

}

.botao:hover {
    color: white;
    font-weight: bold;
}

/*PROMOÇÕES*/

.promoçao-main{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    padding-top: 20px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 50px 10px;
    
    
    
}

.img-promo{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    margin-left: 50px;
    
}


.promoçao-main img:hover{
   transform: scale(1.10);
}

.promoçao-main button{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    margin-left: 80px;
    border: none;
    background-color: rgb(255, 120, 23);
    color: #484848;
}



h1{
    text-align: center;
    padding: 50px;
    font-size: 2.5em;
    color:#613a24;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}


h3{
    text-align: center;
    color: #613a24;
    
}

u{
    color: #613a24;
    text-decoration: line-through;
}







/* RESPONSIVIDADE INCOMPLETA */

@media screen and (max-device-width:800px) {
    
   
    #container {
        
        display: block;
        width: 40vh;
    }
    #img1 {
        
        background-size: 390px;
        width: 90%;
        height: 70%;
        padding-bottom: 20px;
        align-items: center;
           
    }
   
    #img2 {
        background-size: 300px;
        width: 90%;
        height: 70%;
        padding-bottom: 20px;
        align-items: center;
    }

    #img1 h1 {
        
        padding-top: 1em;
        font-size: 30px;
    }
    #img1 p {
        
        font-size: 20px;
        
    }

    
    #img2 h1 {
       
        padding-top: 1em;
        font-size: 30px;
    }
   
    #btn {
        text-align: center;
        margin-top: 1em;
        
    }
    #logo-footer{
     display: none;

    }
     
    #redes-sociais img{
      width: 30px;
      height: 30px;
    }

    footer{
       
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        
    }

    .efeito {
        width: 5em;
        height: 3em;
    }

    /*CATALOGO*/

    .catalogo-main{
        margin-top: 10px;
    }

    .img-catalogo{
        width: 150px;
        
    } 

    .text-produto{
        font-size: 15px;
    }

       
     /*PROMOÇAO*/

     main h1{
         
         font-size: 20px;
     }

     
     header{
        
         display: flex;
         align-content: center;
         justify-content: center;
         padding-right: 10px;
         margin-right: 150px;
         
     }
         
    .logo4food{
           width: 80px;
           padding-left: 10px;   
          
           
      }

      .botao{
          margin-right: 70px;
      }
 

      ul{
        
          display: flex;
          width: 100%;
          padding-right: 100px;
          margin-right: 100px;
          
          
          
      }

      li{
        
          padding-right: 5px;
          margin-right: 2px;
          padding-bottom: 1px;
          font-size: 12px;
          
      }
     
     .promoçao-main{
       
         display: flex;
         flex-direction: column;
         margin-bottom: 50px;
         
     }

     .img-promo button{
         align-items: center;
         justify-content: center;
         padding-right: 60px;
         width: 100px;
     }

     footer{
         padding-top: 20px;
     }

     

     .alunos{
        
         display: flex;
         flex-direction: column;
         font-size: 10px;
         justify-content: center;
         width: 100%;
         
     } 
     
            
     }




















